@font-face {
  font-family: "Conthrax";
  src: url("conthrax-sb.ttf");
}

@font-face {
  font-family: "Rexlia";
  src: url("rexlia rg.ttf");
}

@font-face {
  font-family: "Geometric";
  src: url("geometric.ttf");
}

body {
  font-family: "Geometric", sans-serif;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../res/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index:-10;
}

header img {
  width: 40%;
}

.container {
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  justify-content: space-around;
}

.menu {
  color: gray;
  margin-top: 3%;
  flex-grow: 1;
  position: fixed;
  left: 0;
  margin-left: 3%;
}

#heads * {
  padding: 0;
  margin: 0;
}

#head1 {
  font-size: 4em;
}

#head2 {
  font-size: 2.4em;
  
}

#navitems {
  margin-top: 3%;
}

.navitem {
  margin-left: 10%;
  cursor: pointer;
  display: block;
  color: gray;
  text-decoration: none;
  margin-top: 3%;
  width: 10em;
}


.content {
  flex-grow: 5;
}

#daloysheet, #matproc {
  width: 50%;
  height: 30em;
  text-align: center;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

#daloysheet {
  display: block;
}

#sheets {
  text-align: center;
}

#slideshow {
  text-align: center;
}

.sheetlink {
  font-size: 1.2em;
  margin-left: 3em;
  margin-right: 3em;
  cursor: pointer;
}

#sl0 {
  font-weight: bolder;
}

#links {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  margin-left: auto;
  text-align: right;
}

#links a {
  text-decoration: none;
}

.icon {
  width: 10%;
  vertical-align: middle;
  margin-left: 3%;
  margin-right: 3%;
}

.slideshow {
  background-color: #fff;
}

.slideshow-container {
  width:  40%
}

.pic {
  width: 100%;
}

/* Start of Libraries */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.cmn-t-underline {
  position: relative;
}
.cmn-t-underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: gray;
  content: "";
  transition: width 0.2s;
}
.cmn-t-underline:hover:after {
  width: 100%;
}